---
import Layout from "../../../layouts/default.astro";
import {
	sections,
	html,
	css,
	a11y,
	visual_regression,
	ui,
	pacing,
} from "../../../../_data/forms/workshopFeedback";

const content = {
	title: "Front End Web Fundamentals Workshop | Amy Kapernick",
	description: "A few questions about your recent workshop",
};
---

<Layout content={content}>
	<article class="workshop-prep">
		<h1>Front End Web Fundamentals Workshop</h1>
		<form
			id="workshop-prep"
			action={`${import.meta.env.API_URL}/workshop-feedback`}
			method="post"
		>
			<input
				type="hidden"
				name="redirect"
				value={`${Astro.url.origin}/workshops/see-you-there`}
			/>
			<input type="hidden" name="page" value={Astro.url.pathname} />
			<input type="hidden" name="function" value="workshop-feedback" />
			<input
				type="hidden"
				name="notion_page"
				value={import.meta.env.PAGE_WORKSHOP_FEEDBACK}
			/>
			<fieldset>
				<div class="long">
					<legend
						>What was your favourite section of the workshop?</legend
					>
					{
						sections.map((opt) => (
							<>
								<input
									type="radio"
									name="sections"
									id={`sections_${opt.value}`}
									value={opt.value}
								/>
								<label for={`sections_${opt.value}`}>
									{opt.label}
								</label>
							</>
						))
					}
				</div>
			</fieldset>

			<fieldset>
				<label for="html"
					>How would you rate the Semantic HTML section?</label
				>
				<div class="range" style={{ "--opts": html.opts.length }}>
					<input
						type="range"
						name="html"
						id="html"
						list="html_opts"
						max={html.max}
						min={html.min}
						step={html.step}
					/>
					<datalist id="html_opts">
						{
							html.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>

			<fieldset>
				<label for="css"
					>How would you rate the CSS Layouts section?</label
				>
				<div class="range" style={{ "--opts": css.opts.length }}>
					<input
						type="range"
						name="css"
						id="css"
						list="css_opts"
						max={css.max}
						min={css.min}
						step={css.step}
					/>
					<datalist id="css_opts">
						{
							css.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>

			<fieldset>
				<label for="a11y"
					>How would you rate the Accessibility Testing section?</label
				>
				<div class="range" style={{ "--opts": a11y.opts.length }}>
					<input
						type="range"
						name="a11y"
						id="a11y"
						list="a11y_opts"
						max={a11y.max}
						min={a11y.min}
						step={a11y.step}
					/>
					<datalist id="a11y_opts">
						{
							a11y.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>

			<fieldset>
				<label for="visual_regression"
					>How would you rate the Visual Regression testing section?</label
				>
				<div
					class="range"
					style={{ "--opts": visual_regression.opts.length }}
				>
					<input
						type="range"
						name="visual_regression"
						id="visual_regression"
						list="visual_regression_opts"
						max={visual_regression.max}
						min={visual_regression.min}
						step={visual_regression.step}
					/>
					<datalist id="visual_regression_opts">
						{
							visual_regression.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>

			<fieldset>
				<label for="ui"
					>How would you rate the UI Testing section?</label
				>
				<div class="range" style={{ "--opts": ui.opts.length }}>
					<input
						type="range"
						name="ui"
						id="ui"
						list="ui_opts"
						max={ui.max}
						min={ui.min}
						step={ui.step}
					/>
					<datalist id="ui_opts">
						{
							ui.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>

			<fieldset>
				<label for="pacing"
					>How would you rate the pacing of the workshop?</label
				>
				<div class="range" style={{ "--opts": pacing.opts.length }}>
					<input
						type="range"
						name="pacing"
						id="pacing"
						list="pacing_opts"
						max={pacing.max}
						min={pacing.min}
						step={pacing.step}
					/>
					<datalist id="pacing_opts">
						{
							pacing.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>

			<label for="feedback"
				>Anything you really enjoyed or would have liked to know more
				about?</label
			>
			<textarea id="feedback" name="feedback"></textarea>

			<label for="comments">Any other comments or feedback?</label>
			<textarea id="comments" name="comments"></textarea>
			<label for="name">Name (optional)</label>
			<input type="text" name="name" id="name" />
			<label for="testimonial"
				>Would you like to give a testimonial about the workshop?</label
			>
			<small
				>If you give a testimonial, please make sure to give your name
				as well</small
			>
			<textarea id="testimonial" name="testimonial"></textarea>
			<button type="submit">Submit</button>
		</form>
	</article>
</Layout>
