---
import Layout from "@layouts/default";
import {
	sections,
	html,
	css,
	a11y,
	visual_regression,
	ui,
	pacing,
} from "@data/forms/workshopFeedback";
import RadioButtons from "@parts/radioButtons";
import RangeField from "@parts/rangeField";

const content = {
	title: "Modern Front End Fundamentals Workshop | Amy Kapernick",
	description: "A few questions about your recent workshop",
};
---
<style>
	@import '@mixins';

	article {
		@include content;
	}

	@media(min-width: 60em) {
		article {
			& h1 {
				text-decoration: none;
				font-size: 2em;
			}
		}
	}
</style>

<Layout content={content} header="reduced">
	<article>
		<h1>Modern Front End Fundamentals Workshop</h1>
		<form
			id="workshop-prep"
			action={`${import.meta.env.API_URL}/workshop-feedback`}
			method="post"
		>
			<input
				type="hidden"
				name="redirect"
				value={`${Astro.url.origin}/workshops/thanks`}
			/>
			<input type="hidden" name="page" value={Astro.url.pathname} />
			<input type="hidden" name="function" value="workshop-feedback" />
			<input
				type="hidden"
				name="notion_page"
				value={import.meta.env.PAGE_WORKSHOP_FEEDBACK}
			/>
			<RadioButtons
				label="What was your favourite section of the workshop?"
				name="sections"
				options={sections}
			/>
			<RangeField
				label="How would you rate the Semantic HTML section?"
				name="html"
				options={html.opts}
				min={html.min}
				max={html.max}
			/>
			<RangeField
				label="How would you rate the CSS Layouts section?"
				name="css"
				options={css.opts}
				min={css.min}
				max={css.max}
			/>
			<RangeField
				label="How would you rate the Accessibility Testing section?"
				name="a11y"
				options={a11y.opts}
				min={a11y.min}
				max={a11y.max}
			/>
			<RangeField
				label="How would you rate the Visual Regression testing section?"
				name="visual_regression"
				options={visual_regression.opts}
				min={visual_regression.min}
				max={visual_regression.max}
			/>
			<RangeField
				label="How would you rate the UI Testing section?"
				name="ui"
				options={ui.opts}
				min={ui.min}
				max={ui.max}
			/>
			<RangeField
				label="How would you rate the pacing of the workshop?"
				name="pacing"
				options={pacing.opts}
				min={pacing.min}
				max={pacing.max}
			/>
			<label for="feedback"
				>Anything you really enjoyed or would have liked to know more
				about?</label
			>
			<textarea id="feedback" name="feedback"></textarea>

			<label for="comments">Any other comments or feedback?</label>
			<textarea id="comments" name="comments"></textarea>
			<label for="name">Name (optional)</label>
			<input type="text" name="name" id="name" />
			<label for="testimonial"
				>Would you like to give a testimonial about the workshop?</label
			>
			<small
				>If you give a testimonial, please make sure to give your name
				as well</small
			>
			<textarea id="testimonial" name="testimonial"></textarea>
			<button type="submit">Submit</button>
		</form>
	</article>
</Layout>
