---
import Layout from "../../../layouts/default.astro";
import {
	os,
	browser,
	ide,
	node_cli,
	css_skills,
	js_skills,
	node_version,
} from "../../../../_data/forms/workshopPrep";

const content = {
	pageTitle: "Front End Web Fundamentals Workshop | Amy Kapernick",
	description: "A few questions to prepare for your upcoming workshop",
};
---

<Layout content={content}>
	<article class="workshop-prep">
		<h1>Front End Web Fundamentals Workshop</h1>
		<form
			id="workshop-prep"
			action={`${import.meta.env.API_URL}/workshop-prep`}
			method="post"
		>
			<input
				type="hidden"
				name="redirect"
				value={`${Astro.url.origin}/workshops/see-you-there`}
			/>
			<input type="hidden" name="page" value={Astro.url.pathname} />
			<input
				type="hidden"
				name="notion_page"
				value={import.meta.env.PAGE_WORKSHOP_PREP}
			/>
			<label for="name">Name</label>
			<input type="text" name="name" id="name" required />
			<fieldset>
				<div>
					<legend>What operating system do you use?</legend>
					{
						os.map((opt) => (
							<>
								<input
									type="radio"
									name="os"
									id={`os_${opt.value}`}
									value={opt.value}
								/>
								<label for={`os_${opt.value}`}>
									{opt.label}
								</label>
							</>
						))
					}
				</div>
			</fieldset>
			<fieldset>
				<div class="long">
					<legend>What is your main dev browser?</legend>
					{
						browser.map((opt) => (
							<>
								<input
									type="radio"
									name="browser"
									id={`browser_${opt.value}`}
									value={opt.value}
								/>
								<label for={`browser_${opt.value}`}>
									{opt.label}
								</label>
							</>
						))
					}
					<input
						type="radio"
						name="browser"
						id="browser_other"
						value="other"
					/>
					<label for="browser_other">Other</label>
				</div>
			</fieldset>
			<fieldset>
				<div>
					<legend>What code editor/IDE do you use?</legend>
					{
						ide.map((opt) => (
							<>
								<input
									type="radio"
									name="ide"
									id={`ide_${opt.value}`}
									value={opt.value}
								/>
								<label for={`ide_${opt.value}`}>
									{opt.label}
								</label>
							</>
						))
					}
				</div>
			</fieldset>
			<fieldset>
				<label for="node_cli"
					>How comfortable are you using Node and the command line?</label
				>
				<div class="range" style={{ "--opts": node_cli.opts.length }}>
					<input
						type="range"
						name="node_cli"
						id="node_cli"
						list="node_cli_opts"
						max={node_cli.max}
						min={node_cli.min}
						step={node_cli.step}
					/>
					<datalist id="node_cli_opts">
						{
							node_cli.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>
			<fieldset>
				<label for="node_version"
					>What version of Node do you have installed?</label
				>
				<div
					class="range"
					style={{ "--opts": node_version.opts.length }}
				>
					<input
						type="range"
						name="node_version"
						id="node_version"
						list="node_version_opts"
						max={node_version.max}
						min={node_version.min}
						step={node_version.step}
					/>
					<datalist id="node_version_opts">
						{
							node_version.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>
			<fieldset>
				<label for="css_skills"
					>How comfortable are you using CSS?</label
				>
				<div class="range" style={{ "--opts": css_skills.opts.length }}>
					<input
						type="range"
						name="css_skills"
						id="css_skills"
						list="css_skills_opts"
						max={css_skills.max}
						min={css_skills.min}
						step={css_skills.step}
					/>
					<datalist id="css_skills_opts">
						{
							css_skills.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>
			<label for="html">Without Google, list 20 HTML elements</label>
			<textarea id="html" name="html"></textarea>
			<fieldset>
				<label for="js_skills"
					>How comfortable are you using JavaScript?</label
				>
				<div class="range" style={{ "--opts": js_skills.opts.length }}>
					<input
						type="range"
						name="js_skills"
						id="js_skills"
						list="js_skills_opts"
						max={js_skills.max}
						min={js_skills.min}
						step={js_skills.step}
					/>
					<datalist id="js_skills_opts">
						{
							js_skills.opts.map((opt) => (
								<option value={opt.value}>{opt.label}</option>
							))
						}
					</datalist>
				</div>
			</fieldset>
			<button type="submit">Submit</button>
		</form>
	</article>
</Layout>
