---
import Layout from "@layouts/default";
import {
	os,
	browser,
	ide,
	node_cli,
	css_skills,
	js_skills,
	node_version,
} from "@data/forms/workshopPrep";
import RangeField from "@parts/rangeField";
import RadioButtons from "@parts/radioButtons";

const content = {
	title: "Modern Front End Fundamentals Workshop | Amy Kapernick",
	description: "A few questions to prepare for your upcoming workshop",
};
---
<style>
	@import '@mixins';

	article {
		@include content;
	}

	@media(min-width: 60em) {
		article {
			& h1 {
				text-decoration: none;
				font-size: 2em;
			}
		}
	}
</style>

<Layout content={content} header="reduced">
	<article>
		<h1>Modern Front End Fundamentals Workshop</h1>
		<form
			id="workshop-prep"
			action={`${import.meta.env.API_URL}/workshop-prep`}
			method="post"
		>
			<input
				type="hidden"
				name="redirect"
				value={`${Astro.url.origin}/workshops/see-you-there`}
			/>
			<input type="hidden" name="page" value={Astro.url.pathname} />
			<input
				type="hidden"
				name="notion_page"
				value={import.meta.env.PAGE_WORKSHOP_PREP}
			/>
			<label for="name">Name</label>
			<input type="text" name="name" id="name" required />
			<RadioButtons
				label="What operating system do you use?"
				name="os"
				options={os}
			/>
			<RadioButtons
				options={browser}
				label="What is your main dev browser?"
				name="browser"
				other={true}
			/>
			<RadioButtons
				label="What code editor/IDE do you use?"
				name="ide"
				options={ide}
				other={true}
			/>
			<RangeField
				label="How comfortable are you using Node and the command line?"
				name="node_cli"
				options={node_cli.opts}
				min={node_cli.min}
				max={node_cli.max}
			/>
			<RangeField
				label="What version of Node do you have installed?"
				name="node_version"
				options={node_version.opts}
				min={node_version.min}
				max={node_version.max}
			/>
			<RangeField
				label="How comfortable are you using CSS?"
				name="css_skills"
				options={css_skills.opts}
				min={css_skills.min}
				max={css_skills.max}
			/>
			<label for="html">Without Google, list 20 HTML elements</label>
			<textarea id="html" name="html"></textarea>
			<RangeField
				label="How comfortable are you using JavaScript?"
				name="js_skills"
				options={js_skills.opts}
				min={js_skills.min}
				max={js_skills.max}
			/>
			<button type="submit">Submit</button>
		</form>
	</article>
</Layout>
