---
import Layout from "@layouts/calendar";
import CalendarLayout from '@partials/calendar'

const content = {
	title: "Calendar - Year in a View",
};

let url = `${import.meta.env.API_URL}`;

if (!url.includes("http")) {
	url = `${import.meta.env.SITE_URL}${url}`;
}

const {dates} = await fetch(`${url}/calendar`)
	.then((res) => {
		return res.json();
	})
	.catch((err) => {
		console.log({ fetch: "calendar", err });

		return [];
	});
---

<style>
	.calendar {
		padding-right: 100px;
		overflow-x: auto;
		background: #36454f;

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 50%;
			width: 100vw;
			height: 200px;
			transform: translateX(-50%);
			background: inherit;
		}
	}

	h1 {
		margin-top: 0;
		color: #85caf6;
		text-align: center;
	}
</style>

<Layout content={content} class="calendar_page">
	<div class="calendar">
		<h1>Calendar</h1>
		<CalendarLayout {dates} />
	</div>
</Layout>
