---
import calendarYears from "@utils/calendar/years";
import Layout from "@layouts/calendar";
import Calendar from '@partials/calendar'
import parseEvents from "@utils/calendar/parseEvents";
import parseTravel from "@utils/calendar/parseTravel";

const content = {
	title: "Calendar - Year in a View",
};

let url = `${import.meta.env.API_URL}`;

if (!url.includes("http")) {
	url = `${import.meta.env.SITE_URL}${url}`;
}

const events = await fetch(`${url}/events?filter=all`)
	.then((res) => {
		console.log({ res });
		return res.json();
	})
	.catch((err) => {
		console.log({ fetch: "calendar_events", err });

		return [];
	});
const travel = await fetch(`${url}/travel?filter=all`)
	.then((res) => {
		console.log({ res });
		return res.json();
	})
	.catch((err) => {
		console.log({ fetch: "calendar_travel", err });

		return [];
	});

const calendarDates = calendarYears(events);
const calendarEvents = parseEvents(events);
const calendarTrips = parseTravel(travel);
---

<Layout content={content}>
	<div class="calendar">
		<h1>Calendar</h1>
		<Calendar {...{calendarDates, calendarEvents, calendarTrips}} />
	</div>
</Layout>
