---
const { calendarDates, calendarEvents, calendarProjects, calendarTrips, anonymous } = Astro.props
---

<style>
	h2 {
		margin-top: 0;
		color: #85caf6;
		text-align: center;
	}

	p {
		margin: 0 0 1em;
		color: #36454f;
		font-size: 1.17em;
		font-weight: 700;
		text-transform: uppercase;
	}

	.year {
		display: grid;
		position: relative;
		z-index: 2;
		grid-template-rows: auto 1fr;
		min-width: 1800px;
		min-height: 100vh;
		padding: 10px 50px 10px 20px;
	}

	.dates {
		display: grid;
		position: relative;
		grid-gap: 5px;
		grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
		grid-template-rows: repeat(12, minmax(min-content, 1fr));
		border-top: 1px solid #85caf6;
	}

	.date {
		display: flex;
		grid-column: var(--offset);
		grid-row: var(--month);
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
		padding: 5px;
		background: rgba(133, 202, 246, 0.8);

		&[data-day='Sat'],
		&[data-day='Sun'] {
			background: #85caf6;
		}

		&:before {
			content: attr(data-day);
			position: absolute;
			top: -1.3em;
			color: #eef1f6;
			font-size: 0.8em;
			font-weight: 600;
		}

		&[data-monthName] {
			&:after {
				content: attr(data-monthName);
				position: absolute;
				z-index: -1;
				left: calc(var(--offset) * 50px);
				transform: translateY(-15px);
				color: #ca8ef6;
				font-size: 3em;
				font-weight: bold;
			}
		}
	}

	.event,
	.trip,
	.project {
		display: flex;
		position: relative;
		grid-column: var(--offset) / span var(--length);
		grid-row-start: var(--row);
		align-items: center;
		align-self: end;
		justify-content: center;
		padding: 5px;
		border: 2px solid $green;
		background: rgba($green, 0.7);
		font-size: 0.6em;

		&:before {
			content: var(--icon);
			display: none;
			position: absolute;
			top: -0.8em;
			left: -0.8em;
			font-size: 0.8em;
		}

		&:hover {
			&:before {
				display: block;
			}
		}

		&[data-status='cancelled'] {
			border-color: $red;
			background-color: rgba($red, 0.7);
		}

		&[data-status='moved'] {
			border-color: $orange;
			background-color: rgba($orange, 0.7);
		}

		&[data-status='online'] {
			border-color: $pink;
			background-color: rgba($pink, 0.7);
		}
	}

	.event {
		z-index: 5;
		text-align: center;
	}

	.trip {
		justify-content: flex-start;
		border-color: $purple_bright;
		background-color: rgba($purple_bright, 0.7);
		font-size: 0.4em;
	}

	.project {
		border-color: $navy;
		background-color: rgba($navy, 0.7);
		font-size: 0.4em;
	}
</style>

<>
{
	Object.entries(calendarDates).map(([year, days]) => (
		<div class={`year y-${year}`}>
			<h2>{year}</h2>
			<div class="dates">
				{days.map((day) => (
					<div
						data-monthName={day.monthName}
						data-day={day.day}
						style={{
							"--month": day.month,
							"--offset": day.offset,
						}}
						class="date"
					>
						<p>{day.date}</p>
					</div>
				))}
				{calendarEvents
					.filter((event) => event.year == year)
					.map((event) => (
						<div
							class="event"
							data-status={event.status}
							style={{
								"--offset": event.offset,
								"--length": event.length,
								"--row": event.row,
								"--icon": event.icon,
							}}
						>
							{!anonymous && `${event.icon} ${event.name}`}
						</div>
					))}
				{calendarTrips
					.filter((trip) => trip.year == year)
					.map((trip) => (
						<div
							class="trip"
							data-status={trip.status}
							style={{
								"--offset": trip.offset,
								"--length": trip.length,
								"--row": trip.row,
								"--icon": trip.icon,
							}}
						>
							
							{!anonymous && `${trip.city}, ${trip.country}`}
						</div>
					))}
					{calendarProjects
					.filter((project) => project.year == year)
					.map((project) => (
						<div
							class="project"
							data-status={project.status}
							data-capacity={project.capacity / 5}
							style={{
								"--offset": project.offset,
								"--length": project.length,
								"--row": project.row,
								"--icon": project.icon,
								"--capacity": `${(Number(project.capacity) / 5) * 100}%`
							}}
						>
							
							{!anonymous && `${project.name}`}
						</div>
					))}
			</div>
		</div>
	))
}
</>