---
const { calendarDates, calendarEvents, calendarTrips } = Astro.props
---

<>
{
	Object.entries(calendarDates).map(([year, days]) => (
		<div class={`year y-${year}`}>
			<h2>{year}</h2>
			<div class="dates">
				{days.map((day) => (
					<div
						data-monthName={day.monthName}
						data-day={day.day}
						style={{
							"--month": day.month,
							"--offset": day.offset,
						}}
						class="date"
					>
						<p>{day.date}</p>
					</div>
				))}
				{calendarEvents
					.filter((event) => event.year == year)
					.map((event) => (
						<div
							class="event"
							data-status={event.status}
							style={{
								"--offset": event.offset,
								"--length": event.length,
								"--row": event.row,
								"--icon": event.icon,
							}}
						>
							{event.icon} {event.name}
						</div>
					))}
				{calendarTrips
					.filter((trip) => trip.year == year)
					.map((trip) => (
						<div
							class="trip"
							data-status={trip.status}
							style={{
								"--offset": trip.offset,
								"--length": trip.length,
								"--row": trip.row,
								"--icon": trip.icon,
							}}
						>
							{trip.city}, {trip.country}
						</div>
					))}
			</div>
		</div>
	))
}
</>