---
import { format } from "date-fns";
import TalkEvent from "@parts/talk/event";
import TalkDescription from "@parts/talk/description";

const {talks = {}} = Astro.props
---

<style>
	@import '@mixins';

	article {
		@include section;
	}

	h3 {
		display: inline;
		font-weight: 500;
		text-transform: none;
	}

	summary {
		color: $navy;
		font-size: 1.5em;
		font-weight: 700;
		text-transform: uppercase;
	}

</style>

<>{
	Object.entries(talks).map(([slug, talk]) => (
		<article id={slug}>
			<h2>{talk.title}</h2>
			<TalkDescription url={talk.related} />
			<details>
				<summary>Events</summary>
				<ul>
					{talk.events.map((version) => (
						<li>
							<a
								href={version.url}
								target="_blank"
								rel="nofollow"
							>
								<TalkEvent url={version.event} />
							</a>
							- {format(version.date, "MMMM yyyy")}
						</li>
					))}
				</ul>
			</details>
		</article>
	))
}</>